<!DOCTYPE html>
<html>
<head>
	<title>BiBi Kid</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body style="background-color: #f2dede">
	<div class="header_page">
		<a href=""><img src="/img/defaultCover.png"></a>
	</div>
	<div class="content">
		<div class="container index">
	<div class="login box-container" id="login_set">
		<div class="heading">
			<h2 class="login-heading">Login</h2>
		</div>
		<form action="/login" method="post">
		<div class="input-group username-group">
			<span class="input-group-addon iconbg">
				<i class="glyphicon glyphicon-user"></i>
	  		</span>
	  		<input id="login-username" type="text" class="form-control inputbg" name="email" value="" placeholder="Your email">
		</div>
		<div class="input-group password-group">
	  		<span class="input-group-addon iconbg">
				<i class="glyphicon glyphicon-lock"></i>
	  		</span>
	  		<input id="login-password" type="password" class="form-control inputbg" name="password" placeholder="password">
		</div>
		<!-- <div class="alert-group" ng-hide="LoginAlert">
	  		<div class="alert alert-danger">
				Wrong Username and Password combination 
	  		</div>
		</div> -->

		<!-- Button to Login -->
		<div class="input-group">
			<button id="btn-login" class="btn btn-login btnbg" type="submit">
				Login 
			</button>
		</div>
					
		</form>
		<!-- Link for SingUp Box -->
		<div class="signup-box">
		  	<h4>Don't have an account ? <u><span onclick="showcontent('signup')">SignUp</span></u></h4>
		</div>
	</div>
	<div class="register box-container" id="signup_set">

			<div class="heading">
				<h2 class="login-heading">Register</h2>        
			</div>
			<form action="/signup" method="post">
			<!-- User name Text Field -->
			<div class="input-group username-group">
				<span class="input-group-addon iconbg">
					<i class="glyphicon glyphicon-user"></i>
			  	</span>
			  	<input id="register-username" type="text"  class="form-control inputbg" name="email" value="" placeholder="Your email" >
			</div>

			<!-- ALert Box When username is already taken -->
			<!-- <div class="alert-group" ng-hide="RegisterAlert">
			  	<div class="alert alert-danger">
					This username is already taken. 
			  	</div>
			</div> -->

			<!-- Password Text Field -->			
			<div class="input-group password-group">
			  	<span class="input-group-addon iconbg">
					<i class="glyphicon glyphicon-lock"></i>
			  	</span>
			  	<input id="register-password" type="password" ng-model="password"  class="form-control inputbg" name="password" placeholder="password">
			</div>


			<!-- Button to Register -->
			<div class="input-group">
				<button id="btn-login" type="submit" class="btn btn-login btnbg" >
					Register
			  	</button>
			</div>
			</form>
			<!-- Link for Login -->
			<div class="signup-box">
				<h4>Already have an account ? <u><span onclick="showcontent('login')">SignIn</span></u></h4>
			</div>
		</div>
</div>
</div>


<script src="/js/homepage.js"></script>
</body>
</html>