<%if(session.chklog != 1 || session.chklog == null){%>
	<%include homepage%>
<%}else{%>
<!DOCTYPE html>
<html>
<head>
	<title>BiBi Kid</title>
	    <meta charset="utf-8">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
 
</head>
<body>
<div class="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href = "#" id = "myBtn"><span class="glyphicon glyphicon-plus" style="font-size: 17px"></span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=session.email%> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </div> <!-- end header -->
    <div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

					<p class="modal-title" id="myModalLabel" style="color: #000000; font-size: 20px" >Create a new Topic</p>
				</div>
				<div class="modal-body">
					<form action ="/addTopic" method ="post">
						<label>Title</label>
						<input type="text" class="form-control" name="title" id ="title"></br>
						<label>Category</label>
						<select id ="category" name = "category">
							<option value = "Background">Background</option>
							<option value="Character">Character</option>
							<option value = "Sticker">Sticker</option>
						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" id = "ok"  class="btn btn-primary">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div> <!-- end modal -->
	<script>
		$(document).ready(function(){
			$("#myBtn").click(function(){
				$("#myModal").modal();
			});
		});
	</script>
	<div class="content">
		<div class="modal fade" id="myboxModal" role="dialog" style="margin-top: 60px;">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header" style="background-color: #3c4446; color:#ffffff;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id="chan1"></h4>
					</div>
					<div class="modal-body">
						<form id="uploadForm"
						enctype="multipart/form-data"
						action="/addSticker"
						method="post">	     
						<div class="form-group">
							<label>Image</label> 
							<input type="hidden" name="category" id = "chan2"> 
							<input type="hidden" name="topicId" id = "chan3"> 
							<input type="file"  name="file" class="form-control"  multiple>       
						</div>
						<div class="modal-footer">
							<span class="glyphicon glyphicon-exclamation-sign" style="font-size: 20px;"></span><a style="color:red">Chỉ upload tối đa 10 ảnh 1 lúc</a>
							<button type="submit" class="btn btn-success" >Upload</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myshowModal" role="dialog" style="margin-top: 60px;">

		<div class="modal-body">	
			<div class="row" style="padding-left: 30px; padding-top: 25px; margin:0px;" id="show_noidung">

			</div>

		</div>
	</div>

	<div class="menu_topic">
		<div class="head_menu_topic">
			<span>List Topic</span>
		</div>
		<%if (topic != null){for(i in topic){%>
		<div class="list-single" >			
			<div class="list-topic-meta">
				<span class="list_topic_title" data-toggle="modal" data-target="#myshowModal" onclick="ShowTopic('<%=topic[i]._id%>','<%=topic[i].category%>','<%=topic[i].status%>','<%=topic[i].title%>')"><%=topic[i].title%></span>
				<span class="glyphicon glyphicon-cloud-upload"  data-toggle="modal" data-target="#myboxModal" onclick="Upload('<%=topic[i]._id%>','<%=topic[i].category%>','<%=topic[i].title%>')"></span>
			</div>
		</div>
		<%}}else{%>
		<span>Không có Topic nao</span>
		<%}%>	

	</div>
	<div class="show_topic" >
		<div class="head_show_topic" style="padding: 15px; font-size: 24px;">
			<span class="glyphicon glyphicon-folder-open" onclick="Background('<%=session._id%>')"></span>
			<span class="glyphicon glyphicon-list-alt" onclick="Character('<%=session._id%>')"></span>
			<span class="glyphicon glyphicon-file" onclick="Sticker('<%=session._id%>')"></span>
		</div>
		<div id="noidung">
			
		</div>
		

	</div>
</div> <!-- end content -->
<div class="footer">
	<p class="new-theme_copyright">
        <small>© <a href="https://www.facebook.com/may.cua.troi.95" target="_blank">Lạc Lạc</a></small>
      </p>
</div>
<script src="/js/home.js"></script>

</body>
</html>
<%}%>