.title{
	font-size: 18px;
}

.navbar-default .navbar-nav>li>a{
	color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #f2dede;
	border : 1px solid #f2dede;
	cursor: pointer;
}

.navbar-default {
	margin-bottom:0px;
	background-color: #3c4446; 
	color:#ffffff;
}
.navbar-header{
	border-right: 1px solid #ffffff;
}
.navbar-header a>span{
	color: #ffffff;
	font-size: 24px;
}
.menu_topic{
	width: 250px;
	background-color: #f2dede;
	min-height: 1500px;
	box-shadow: 5px 5px 5px #888888;
	float: left;

}
.show_topic{
	background-color: #f0f1f3;
	margin-left: 260px;
	min-height : 1500px;
}
 #confirmation_topic{
 	background-color: #f0f1f3;;
	min-height : 1000px;
 }
.show_img{
	width: 100px; 
	height: 100px; 
	margin: 10px;
}
.header{
	box-shadow: 2px 2px 5px #888888;
}
.header_page{
	height: 50px;
	width: 100%;
	background-color: #24292e;
	box-shadow: 5px 5px 5px #888888;
}
.header_page img{
	width: 100px;
	height: auto;

}
.head_menu_topic{
	height: 50px;
	width: 100%;
	background-color: #a94442;
	text-align: center;
	padding: 12px;

}
.head_menu_topic span{
	color: #ffffff;
	font-size: 20px;

}
.list-single{
	min-height: 60px;	
	margin-bottom: 5px;
	background-color: #fff;
	padding-left : 10px;
	font-size: 16px;
	border: solid 1px rgba(80, 208, 193, 0.35);
}

.list-topic-meta{
	height: 100%;
	width: 100%;
	padding: 15px;
	color: rgba(0, 0, 0, 0.69);
	font-weight: 400;
}

.list-topic-meta span{
	font-size: 16px;
}
/*Login*/

.box-container{
	margin-top: 8%;
	width: 35%;
	height: 400px;
    display: block;
    padding: 20px;
    margin-left: 33%;  
    box-shadow: 0px 2px 100px 6px rgba(0,0,0,0.35);
	background-color:#fafbfc;
}
.heading{
	padding: 15px;
	text-align: center;
}
.box-container h2,h4 {
	color: #000 !important;
}
.iconbg,
.inputbg{
	color: rgba(0, 0, 0, 0.58);
    border: solid 1px rgba(0, 0, 0, 0.58);
    background-color:#fff; 
    height: 40px;
}
.btnbg{
	color: rgba(0, 0, 0, 0.58);
    border: solid 1px rgba(0, 0, 0, 0.58);
    background-color:#f2dede; 
    height: 40px;
}


.password-group,
.username-group,
.btnbg{
	margin-bottom: 25px;
	height: 40px;
}

.btnbg{
	width: 100%;
}
.btnbg:hover{
	color:#50d0c1;
	border: solid 1px rgba(0, 0, 0, 1);
}
.opr-loader{
	float: right;
}
.signup-box{
	text-align: center;
	margin-top:10px;
}
@media screen and (max-width: 700px) {
	.index{
		padding: 20px;
	}
	.box-container{
		margin: 0px auto;
		width: 50%;
	}

}
/*--------------------------------------------------------------------------------
Login page ends
--------------------------------------------------------------------------------*/
/*
Footer*/
.footer{
	margin-top: 50px;
    color: #d6d2c4;
    background-color: #34362f;
    width: auto;
    height: 80px;
    text-align: center;
}
.new-theme_copyright{
	padding-top: 25px;
}

/*end footer*/